<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (submit)="login()">
      <h4 class="card-title">Login</h4>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input
          matInput
          placeholder="username"
          [(ngModel)]="user"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>password</mat-label>
        <input
          matInput
          type="password"
          placeholder="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!loginForm.form.valid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
